
[ng-class = logo]
{
    width: 100px;
    height: 100px;
}

[ng-class = header]
{
    margin: 0;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
}
[id = div_developmentheader]
{
    top: 250px;
}
[id = div_computationheader] 
{
    top: 470px;
}
[id = div_languagesheader] 
{
    top: 690px;
}



[ng-class = body]
{
    margin: 0;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: justify;
}
[id = div_developmentbody]
{
    top: 360px;
    width: 450px;
}
[id = div_computationbody]
{
    top: 580px;
    width: 460px;
}
[id = div_languagesbody]
{
    top: 815px;
    width: 460px;
}


@media (max-width: 768px)
{

    [ng-class = logo]
    {
        width: 85px;
        height: 85px;
    }



    [ng-class = header]
    {

    }
    [id = div_developmentheader]
    {
        top: 250px;
    }
    [id = div_computationheader]
    {
        top: 470px;
    }
    [id = div_languagesheader]
    {
        top: 690px;
    }



    [id = div_developmentbody]
    {
        top: 360px;
        width: 320px;
    }

    [id = div_computationbody]
    {
        top: 580px;
        width: 320px;
    }

    [id = div_languagesbody]
    {
        top: 820px;
        width: 320px;
    }
}