
[ng-class = logo]
{
    width: 100px;
    height: 100px;
}

[id = img_arduinologologo]
{
    width: 130px;
    height: 75px;
}


[ng-class = header]
{
    margin: 0;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
}
[id = div_developmentheader]
{
    top: 250px;
}
[id = div_teamworkheader]
{
    top: 505px;
}
[id = div_embeddedheader] 
{
    top: 740px;
}



[ng-class = body]
{
    margin: 0;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: justify;
}
[id = div_developmentbody]
{
    top: 390px;
    width: 450px;
}
[id = div_teamworkbody]
{
    top: 630px;
    width: 460px;
}
[id = div_embeddedbody] 
{
    top: 860px;
    width: 470px;
}


@media (max-width: 768px)
{

    [ng-class = logo]
    {
        width: 85px;
        height: 85px;
    }
    [id = img_arduinologologo]
    {
        width: 110px;
        height: 65px;
    }


    [ng-class = header]
    {

    }
    [id = div_developmentheader]
    {
        top: 250px;
    }
    [id = div_teamworkheader]
    {
        top: 515px;
    }
    [id = div_embeddedheader] 
    {
        top: 760px;
    }



    [id = div_developmentbody]
    {
        top: 390px;
        width: 320px;
    }

    [id = div_teamworkbody] 
    {
        top: 645px;
        width: 320px;
    }

    [id = div_embeddedbody]
    {
        top: 890px;
        width: 320px;
    }
}