
<div id="div_skillsbackground">

    <div ng-class="header" id="div_developmentheader">
        <h3 ng-class="heading" id="h3_development">Development</h3>
        <img ng-class="logo" id="img_angularlogo" src="../../assets/angularlogo.png" alt="Angular" />
        <img ng-class="logo" id="img_visualstudiologo" src="../../assets/visualstudiologo.jpg" alt="Visual Studio" />
        <img ng-class="logo" id="img_msazurelogo" src="../../assets/msazurelogo.png" alt="Microsoft Azure" />
    </div>

    <div ng-class="body" id="div_developmentbody">
        <p id="p_development">
            I understand a wide range of languages including C, C#, Python and Typescript
            and understand essential web skills such as HTML, CSS and SQL. This website
            was created using Angular ASP.NET and hosted using Microsoft Azure App Services
        </p>
    </div>

    <div ng-class="header" id="div_teamworkheader">
        <h3 ng-class="heading" id="h3_teamwork">Teamwork</h3>
        <img ng-class="logo" id="img_githublogo" src="../../assets/githublogo.png" alt="Github" />
        <img ng-class="logo" id="img_slacklogo" src="../../assets/slacklogo.png" alt="Slack" />
    </div>

    <div ng-class="body" id="div_teamworkbody">
        <p id="p_teamwork">
            I'm a team player both in and out of software projects and use Github and Slack to stay on top of work. 
            I understand modern businesses use agile methodologies to continuously deliver in a team.
        </p>
    </div>

    

    <div ng-class="header" id="div_embeddedheader">
        <h3 ng-class="heading" id="h3_embedded">Embedded Systems</h3>
        <img ng-class="logo" id="img_freescalelogo" src="../../assets/freescalelogo.png" alt="Freescale" />
        <img ng-class="logo" id="img_arduinologologo" src="../../assets/arduinologo.png" alt="Arduino" />
    </div>

    <div ng-class="body" id="div_embeddedbody">
        <p id="p_embedded">
            Programming for hardware is a fascinating topic I explore both in and out
            of academic studies and out and has led to me working with micro-processors
            and controllers such as the Arduino and the Kinetis K70 Tower.
        </p>
    </div>

</div>
