
<div id="div_skillsbackground">

    <div ng-class="header" id="div_developmentheader">
        <h3 ng-class="heading" id="h3_development">Development</h3>
        <img ng-class="logo" id="img_angularlogo" src="../../misc/angularlogo.png" alt="Angular" />
        <img ng-class="logo" id="img_visualstudiologo" src="../../misc/visualstudiologo.jpg" alt="Visual Studio" />
        <img ng-class="logo" id="img_msazurelogo" src="../../misc/msazurelogo.png" alt="Microsoft Azure" />
    </div>

    <div ng-class="body" id="div_developmentbody">
        <p id="p_development">
            This website and other practice web projects of mine are created using Visual Studio
            Angular and hosted using Microsoft Azure services.
        </p>
    </div>

    <div ng-class="header" id="div_computationheader">
        <h3 ng-class="heading" id="h3_computation">Computation</h3>
        <img ng-class="logo" id="img_mathematicalogo" src="../../misc/mathematicalogo.jpg" alt="Mathematica" />
        <img ng-class="logo" id="img_matlablogo" src="../../misc/matlablogo.png" alt="Matlab" />
    </div>

    <div ng-class="body" id="div_computationbody">
        <p id="p_computation">
            University work calls for computation programming using Wolfram Mathematica and
            MathWorks MATLAB to process data, solve problems and model systems.
        </p>
    </div>

    

    <div ng-class="header" id="div_languagesheader">
        <h3 ng-class="heading" id="h3_languages">Languages</h3>
        <img ng-class="logo" id="img_csharplogo" src="../../misc/csharplogo.png" alt="C#" />
        <img ng-class="logo" id="img_pythonlogo" src="../../misc/pythonlogo.jpg" alt="Python" />
        <img ng-class="logo" id="img_javascriptlogo" src="../../misc/javascriptlogo.png" alt="Javascript" />
    </div>

    <div ng-class="body" id="div_languagesbody">
        <p id="p_languages">
            The above technologies require extensive programming knowledge. Personally I focus
            on C#, Python and Javascript and complement this with web development skills in HTML,
            CSS and Typescript for Angular.
        </p>
    </div>

</div>
