
<div id="div_aboutbackground">

    <div id="div_profile">
        <img id="img_profilepic" src="../../misc/profilepic.jpg" alt="My profile picture" />

        <p id="p_contactinfo">
            <b>Email</b><br />
            nick.tangson@gmail.com<br /><br />
            <b>Phone</b><br />
            0490 175 417<br />
        </p>

        <a id="a_downloadresume" href="downloads/ThanitTangsonResume.docx" download>Download Resume</a>
    </div>

    <div id="div_abouttext">
        <p id="p_abouttext">
            Hi, I'm Thanit Tangson, and this is my personal website where you can learn about me.
            I am currently a university student studying engineering and business, but have recently
            discovered the wonders of web development and design. Take a look through my employment
            history, skills and interests and see what I have to offer.
        </p>
    </div>


</div>
