
[ng-class = header]
{
    width: 500px;
    height: 300px;
    margin: 0;
    position: absolute;
    left: calc(50% + 100px);
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
[id = div_infosysheader] {
    top: 370px;
}
[id = div_davidjonesheader] {
    top: 710px;
}
[ng-class = header] ul
{
    list-style-type: square;
}


[ng-class = heading]
{
    position: relative;
    left: 15px;
    text-align: center;
}



[ng-class = logo]
{
    margin: 0;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    left: 20px;
    top: 55px;
}
[id = img_infosyslogo] {
    width: 180px;
    height: 110px;
}
[id = img_davidjoneslogo] {
    width: 140px;
    height: 150px;
}



[ng-class = body]
{
    width: 520px;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid grey;
    padding-top: 8px;
    border-radius: 8px;
}
[id = div_infosysbody] {
    top: 420px;
}
[id = div_davidjonesbody] {
    top: 750px;
}



@media (max-width: 768px)
{
    [ng-class = header] 
    {
        left: calc(50% + 50px);
    }
    [id = div_infosysheader] {
        top: 340px;
    }
    [id = div_davidjonesheader] {
        top: 700px;
    }

    [ng-class = heading]
    {
        left: 10px;
        font-size: 18px;
    }



    [ng-class = logo]
    {
        left: 90px;
    }
    [id = img_infosyslogo] {
        width: 117px;
        height: 73px;
    }
    [id = img_davidjoneslogo] {
        width: 93px;
        height: 100px;
    }



    [ng-class = body]
    {
        width: 320px;
    }
    [id = div_infosysbody] {
        top: 415px;
    }
    [id = div_davidjonesbody] {
        top: 755px;
    }
}