
<div id="div_employmentbackground">

    <div ng-class="header" id="div_infosysheader">
        <img ng-class="logo" id="img_infosyslogo" src="../../assets/infosys.png" alt="Infosys Limited" />
        <h3 ng-class="heading" id="h3_infosys">Infosys Limited</h3>
        <ul>
            <li>Nov 2018 - Feb 2019</li>
            <li>Software Engineering - Intern</li>
        </ul>
    </div>

    <div ng-class="body" id="div_infosysbody">
        <ul id="ul_infosys">
            <li>International internship based in Bangalore, India - <a href="https://www.infosys.com/instep">Infosys Instep</a></li>
            <li>High level Python programming involving web APIs and Machine Learning</li>
            <li>First-hand experience of the software development cycle</li>
            <li>Worked closely with a diverse range of senior company engineers and fellow interns both remotely and in person</li>
            <li>Continual communication and final presentation on project work with both mentors and interns</li>
        </ul>
    </div>

    <div ng-class="header" id="div_davidjonesheader">
        <img ng-class="logo" id="img_davidjoneslogo" src="../../assets/davidjoneslogo.png" alt="David Jones" />
        <h3 ng-class="heading" id="h3_davidjones">David Jones Limited</h3>
        <ul>
            <li>Nov 2015 - Jan 2016</li>
            <li>Nov 2016 - Oct 2018</li>
            <li>Sales Professional - Casual</li>
        </ul>
    </div>

    <div ng-class="body" id="div_davidjonesbody">
        <ul id="ul_davidjones">
            <li>Worked in a team of up to five people during Christmas rush hours</li>
            <li>Conducted sales, returns and other enquiries on a modern POS system.</li>
            <li>Achieved sales by explaining features and value propositions.</li>
            <li>Responsible for handling cash and end of day financial reconciliation.</li>
        </ul>
    </div>

</div>