
<div id="div_employmentbackground">
    
    <div ng-class="header" id="div_davidjonesheader">
        <img ng-class="logo" id="img_davidjoneslogo" src="../../misc/davidjoneslogo.png" alt="David Jones" />
        <h3 ng-class="heading" id="h3_davidjones">David Jones Limited</h3>
        <ul>
            <li>Nov 2015 - Jan 2016</li>
            <li>Nov 2016 - Present</li>
            <li>Sales Professional - Casual</li>
        </ul>
    </div>

    <div ng-class="body" id="div_davidjonesbody">
        <ul id="ul_davidjones">
            <li>Worked in a team of up to five people during Christmas rush hours</li>
            <li>Conducted sales, returns and other enquiries on a modern POS system.</li>
            <li>Achieved sales by explaining features and value propositions.</li>
            <li>Responsible for handling cash and end of day financial reconciliation.</li>
        </ul>
    </div>

    <div ng-class="header" id="div_trendwestheader">
        <img ng-class="logo" id="img_shoeclipart" src="../../misc/shoeclipart.png" alt="Shoe Clipart" />
        <h3 ng-class="heading" id="h3_trendwest">Trendwest Shoes and Bags</h3>
        <ul>
            <li>Nov 2012 - June 2015</li>
            <li>Sales Associate - Casual</li>
        </ul>
    </div>

    <div ng-class="body" id="div_trendwestbody">
        <ul id="ul_trendwest">
            <li>Worked with two other employees during Christmas rush hours</li>
            <li>Provided customer service and EFTPOS/register service</li>
            <li>Designed marketing schemes and advertising with posters and signs</li>
            <li>Answering the phone with etiquette to address complaints and enquiries</li>
        </ul>
    </div>

    <div ng-class="header" id="div_betterstillsheader">
        <img ng-class="logo" id="img_cameraclipart" src="../../misc/cameraclipart.png" alt="Camera Clipart" />
        <h3 ng-class="heading" id="h3_betterstills">Better Stills Photo Lab</h3>
        <ul>
            <li>June 2011 - June 2015</li>
            <li>Work Experience - Part-time</li>
        </ul>
    </div>

    <div ng-class="body" id="div_betterstillsbody">
        <ul id="ul_betterstills">
            <li>Document and photo editing using Photoshop, MS Office and DVD burners</li>
            <li>Photography services for passports, licenses and other documents.</li>
            <li>Customer service provided by cashier work and organising order forms</li>
            <li>Managed stock, including restocking, storage and stocktaking</li>
        </ul>
        
        
        
        
    </div>

</div>