
<div id="div_chatroombackground">

    <div *ngIf="messages">
        <div class="div_messagebubble" *ngFor="let message of messages; index as i"
            [ngStyle]=
            "{
                'top.%': 24 + i*12,
                'left.%': (message.username == username ? 55 : 45),
                'background-color': (message.username == username ? 'azure' : '#bcd1f4')
            }">
            <p class="p_messagenickname">{{message.username}}</p>
            <p class="p_messagebody">{{message.message}}</p>
            <p class="p_messagedate">{{message.date}}</p>
            <p class="p_messagetime">{{message.time}}</p>
        </div>
    </div>


    <p id='p_poweredby'>Powered by ASP.NET & Angular</p>
    <p id='p_copyright'>&copy; Copyright 2018 SoLegendary</p>

</div>

<textarea id="textarea_message" maxLength=140 placeholder="Say Something!"spellcheck="false" #msgbox></textarea>
<button id='button_sendmessage' (click)="submitMessage(msgbox.value)">Send</button>
<textarea id="textarea_username" maxLength=20 placeholder="Username" (keyup)="updateUsername(usernamebox.value)" spellcheck="false" #usernamebox></textarea>

<button (click)="deleteMessages()">Delete Messages</button>


<!-- <userlist></userlist> -->
