
[id = div_background]
{
    position: absolute;
    width: 100vw; /* 100% of viewport width - prevents shifting when scrollbar appears */
    height: 100vh;

    /*
    background-image: url("../../misc/spiritedawaybackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

[id = h1_nameheading]
{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 70px;
    font-size: 60px;
    text-align: center;
}

[id = nav_routerlinks]
{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 140px;
    font-size: 16px;
    text-align: center;
}

[ng-class = routerlink]
{
    text-decoration: none;
    color: black;
    transition: opacity .2s;
    padding: 6px;
    opacity: 0.5;
}

nav.link-active a:hover,
nav.link-active a:focus
{
    opacity: 1;
}