
<div id="div_educationbackground">


    <img id="img_utslogo" src="../../assets/utsbiggerlogo.png"/>

    <div>
        <h3 id="h3_utsheading">University of Technology Sydney</h3>
    </div>

    <div id="div_degrees">
        <p id="p_engineering">
            <b>Bachelor of Electrical Engineering</b>
        </p>
        <ul id="li_engineering">
            <li>Embedded Systems</li>
            <li>Power Systems</li>
        </ul>
        <p id="p_business">
            <b>Bachelor of Business</b>
        </p>
        <ul id="li_business">
            <li>Accounting</li>
        </ul>
    </div>

    <div id="div_notes">
        <p id="p_completiondate">Degree is expected to be completed 9th November 2019</p>
        <p id="p_academictranscript">Academic transcript available upon request</p>
    </div>

</div>
