
<div id="div_otherbackground">

    <div ng-class="header" id="div_unityheader">
        <h3 id="h3_unity">Unity</h3>
    </div>
  
    <div ng-class="body" id="div_unitybody">
        <img ng-class="logo" id="img_unitylogo" src="../../assets/unitylogo.png" alt="Unity" />
        <p id="p_unity">
            A personal game development project of mine is written in C# using Unity.
            I also enjoy learning about the theory of game design and play.
        </p>
    </div>



    <div ng-class="header" id="div_linkedinheader">
        <h3 id="h3_linkedin">LinkedIn</h3>
    </div>
    
    <div ng-class="body" id="div_linkedinbody">
        <img ng-class="logo" id="img_linkedinlogo" src="../../assets/linkedinlogo.png" alt="LinkedIn" />
        <p id="p_linkedin">
            I also have a LinkedIn profile I regularly update.
            <br />
            Feel free to take a look!
            <br /><br />
            <a href="https://www.linkedin.com/in/thanit-nick-tangson/">https://www.linkedin.com/in/thanit-nick-tangson/</a>
        </p>
    </div>



    <div ng-class="header" id="div_volunteeringheader">
        <h3 id="h3_volunteering">Volunteering</h3>
    </div>
    
    <div ng-class="body" id="div_volunteeringbody">
        <img ng-class="logo" id="img_yowlogo" src="../../assets/yowlogo.png" alt="Yow!" />
        <p id="p_volunteering">
            I attended the Yow! Sydney 2017 Conference as a volunteer to meet up with
            industry experts, recruiters and entrepreneurs. It was an enlightening
            experience where I first explored industry trends and practices.
        </p>
    </div>

</div>
